div{
    text-align: center;
}

button{
    background-color: deepskyblue;
}

body{
    background-color: darkgray;
}

h1{
    font-family: sans-serif;
    text-align: center;
}
p{
    font-family: sans-serif;
    text-align: center;
}